[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
jiraclient = ">=2.1.9"
keyring = ">=19.0.1"
termcolor = "*"
jira = "*"
http-parser = "*"
dependency_injector = "*"

[requires]
python_version = "3.7"
